@define-color mygreen rgb(0,1,0);

a {
  color: initial;
}

b {
  color: inherit;
}

c {
  color: unset;
}

d {
  color: currentcolor;
}

e {
  color: rgba(0,0,0,0);
}

f {
  color: rgb(255,0,0);
}

g {
  color: rgb(0,1,0);
}

h {
  color: rgb(1,0,1);
}

i {
  color: rgb(170,187,204);
}

j {
  color: rgba(0,17,34,0.2);
}

k {
  color: rgb(1,35,69);
}

l {
  color: rgba(255,238,221,0.8);
}

m {
  color: rgb(255,76,76);
}

n {
  color: rgb(152,27,27);
}

o {
  color: rgb(16,48,16);
}

p {
  color: rgba(0,128,0,0.5);
}

q {
  color: rgb(191,0,64);
}

r {
  color: @mygreen;
}

s {
  color: rgb(255,0,0);
}

t {
  color: rgb(255,0,0);
}

u {
  color: rgba(255,0,0,0.5);
}

v {
  color: rgba(255,0,0,0.5);
}

w {
  color: rgb(255,0,0);
}

x {
  color: rgba(255,0,0,0.5);
}

y {
  color: color(srgb 1 0 0);
}

z {
  color: color(srgb 0.99 0.985 0.98 / 0.5);
}

aa {
  color: color(srgb 1.5 -1.5 0);
}

ab {
  color: color(srgb-linear 1 0.5 0 / 0.5);
}

ac {
  color: oklab(0.8 0 0.3 / 0.5);
}

ad {
  color: oklch(0.8 0.3 200 / 0.5);
}

ae {
  color: rgba(26,26,26,0.5);
}

af {
  color: oklab(0 -0.4 -0.4 / 0);
}

ag {
  color: oklab(1 0.4 0.4);
}
